<ion-view view-title="Aanbod">
  <ion-content>
  <div class="list card">

    <div class="item item-avatar">
      <img src="img/krommeknie.jpg">
      <h2>Praktijk de Kromme Knie (1 km)</h2>
    </div>

    <div class="item item-body">
      <p>
        Fysiotherapie<br />
        Intake en consult gespecialiseerde knietherapeut<br />
        Toegangstijd: 3 dagen
      </p>
      <p>
        <a href="#" class="subdued">Rating: 4.6/5</a>
        <a href="#" class="subdued">3 Recensies</a>
      </p>
    </div>

    <div class="item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item" href="#tab/dash3">
        <i class="icon ion-calendar"></i>
        Afspraak maken
      </a>
    </div>
  </div>

  <div class="list card">

    <div class="item item-avatar">
      <img src="img/kraakkliniek.png">
      <h2>De Kraak Kliniek (2 km)</h2>
    </div>

    <div class="item item-body">
      <p>
        Manueel therapie<br />
        Consult en behandeling manueel therapeut<br />
        Toegangstijd: 14 dagen
      </p>
      <p>
        <a href="#" class="subdued">Rating: 4.3/5</a>
        <a href="#" class="subdued">7 Recensies</a>
      </p>
    </div>

    <div class="item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item" href="#tab/dash3">
        <i class="icon ion-calendar"></i>
        Afspraak maken
      </a>
    </div>
  </div>
  <div class="list card">

    <div class="item item-avatar">
      <img src="img/gidopractor.jpg">
      <h2>Gidopraktor (5 km)</h2>
    </div>

    <div class="item item-body">
      <p>
        Chiropractie<br />
        Superbehandeling door Gido<br />
        Toegangstijd: 21 dagen
      </p>
      <p>
        <a href="#" class="subdued">Rating: 5/5</a>
        <a href="#" class="subdued">20 Recensies</a>
      </p>
    </div>

    <div class="item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item" href="#tab/dash3">
        <i class="icon ion-calendar"></i>
        Afspraak maken
      </a>
    </div>
  </div>
  <div class="list card">

    <div class="item item-avatar">
      <img src="">
      <h2>Ed - Go - Theraphy (4 km)</h2>
    </div>

    <div class="item item-body">
      <p>
        Fysiotherapie<br />
        Consult fysiotherapeut<br />
        Toegangstijd: 1 dag
      </p>
      <p>
        <a href="#" class="subdued">Rating: 3.2/5</a>
        <a href="#" class="subdued">2 Recensies</a>
      </p>
    </div>

    <div class="item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item" href="#tab/dash3">
        <i class="icon ion-calendar"></i>
        Afspraak maken
      </a>
    </div>
  </div>
  </ion-content>
</ion-view>
