<ion-view view-title="Maak afspraak"> 
  <ion-content>
  <div class="list">
    <label class="item item-input">
      <input type="text" placeholder="Reden voor afspraak">
    </label>
    <label class="item item-input item-select">
      <div class="input-label">
        Urgentie
      </div>
      <select>
        <option>Hoog</option>
        <option selected>Normaal</option>
        <option>Geen</option>
      </select>
    </label>
    <label class="item item-input">
      <textarea placeholder="Medische achtergrond"></textarea>
    </label>
  </div>
  <div class="padding">
    <button class="button button-block button-positive activated">Verzenden</button>
  </div>
  </ion-content>
</ion-view>