<ion-view view-title="Wat is uw klacht?">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-show="dsply" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/dash2">
        {{chat.name}}
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
    <div style="text-align: center; padding-top: 100px;">
      <img src="img/logo.png" width="50%" />
    </div>
  </ion-content>
</ion-view>
